# data and changing config files
**/*.root
**/*.csv
*.txt
gen_signal.cfg
fit.cfg
bin_template.cfg

# data output
*.pdf
*.png
*.fit
*.out
*.log
*.ni

# build artifacts
build/
*.o
*.so
*.a
*.dylib
*.dll
*.exe


# caches
__pycache__/
.ipynb_checkpoints
.conda

# documentation
docs/doxygen/

# other
*.so
**/DSelector_omegapi_all_*