# This cfg file is designed to generate and fit waves in a single mass bin
# to confirm the projection of moments is working correctly. No acceptance effects
# will be applied, and the phasespace will contain the same TEM cuts as the signal
#   -t: 0.1 - 0.2
#    M: 1.2 - 1.22
#    E: 8.2 - 8.8
#
# The waveset is pseudo-realistic, and comes from the previous truth-initialized fits,
# but has already applied the Breit-Wigner and scale parameter to the complex values


# generator-level configuration parameters
define vector 0.782 0.008
define beamconfig beam.cfg

# fit setup
fit omegapi
normintfile omegapi truth.ni
reaction omegapi Beam Proton Pi01 Pi02 Pi+ Pi-
sum omegapi ImagNegSign RealNegSign RealPosSign ImagPosSign Bkgd

# load in data and phasespace (gen == acc in this case)
genmc omegapi ROOTDataReader anglesOmegaPiPhaseSpace.root 
accmc omegapi ROOTDataReader anglesOmegaPiPhaseSpaceAcc.root
data omegapi ROOTDataReader data.root

######## AMPLITUDES ########
#---- m1pmS ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1pmS Vec_ps_refl 1 -1 0 -1 -1 0 0.3519 omega3pi
initialize omegapi::ImagNegSign::m1pmS cartesian 32.18638792 -22.31468862
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1pmS Vec_ps_refl 1 -1 0 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1pmS cartesian 32.18638792 -22.31468862

constrain omegapi::ImagNegSign::m1pmS omegapi::RealPosSign::m1pmS 

#---- m1pmD ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1pmD Vec_ps_refl 1 -1 2 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1pmD cartesian -85.45846867 -33.60548763
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1pmD Vec_ps_refl 1 -1 2 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1pmD cartesian -85.45846867 -33.60548763

constrain omegapi::ImagNegSign::m1pmD omegapi::RealPosSign::m1pmD 

#---- m1p0S ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1p0S Vec_ps_refl 1 0 0 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1p0S cartesian -17.95429149 -49.76979288
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1p0S Vec_ps_refl 1 0 0 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1p0S cartesian -17.95429149 -49.76979288

constrain omegapi::ImagNegSign::m1p0S omegapi::RealPosSign::m1p0S 

#---- m1p0D ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1p0D Vec_ps_refl 1 0 2 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1p0D cartesian 55.34890297 -26.21975025
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1p0D Vec_ps_refl 1 0 2 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1p0D cartesian 55.34890297 -26.21975025

constrain omegapi::ImagNegSign::m1p0D omegapi::RealPosSign::m1p0D 

#---- m1ppS ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1ppS Vec_ps_refl 1 1 0 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1ppS cartesian -9.899249989 -2.037668855
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1ppS Vec_ps_refl 1 1 0 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1ppS cartesian -9.899249989 -2.037668855

constrain omegapi::ImagNegSign::m1ppS omegapi::RealPosSign::m1ppS 

#---- m1ppD ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1ppD Vec_ps_refl 1 1 2 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1ppD cartesian 93.94713738 12.66696942
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1ppD Vec_ps_refl 1 1 2 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1ppD cartesian 93.94713738 12.66696942

constrain omegapi::ImagNegSign::m1ppD omegapi::RealPosSign::m1ppD 

#---- p1pmS ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1pmS Vec_ps_refl 1 -1 0 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1pmS cartesian -88.73887922 -169.4728037
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1pmS Vec_ps_refl 1 -1 0 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1pmS cartesian -88.73887922 -169.4728037

constrain omegapi::ImagPosSign::p1pmS omegapi::RealNegSign::p1pmS 

#---- p1pmD ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1pmD Vec_ps_refl 1 -1 2 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1pmD cartesian -73.81994314 -30.81116196
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1pmD Vec_ps_refl 1 -1 2 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1pmD cartesian -73.81994314 -30.81116196

constrain omegapi::ImagPosSign::p1pmD omegapi::RealNegSign::p1pmD 

#---- p1p0S ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1p0S Vec_ps_refl 1 0 0 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1p0S cartesian 220.239997 610.5113667
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1p0S Vec_ps_refl 1 0 0 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1p0S cartesian 220.239997 610.5113667

constrain omegapi::ImagPosSign::p1p0S omegapi::RealNegSign::p1p0S 

#---- p1p0D ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1p0D Vec_ps_refl 1 0 2 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1p0D cartesian 104.1761938 370.4579388
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1p0D Vec_ps_refl 1 0 2 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1p0D cartesian 104.1761938 370.4579388

constrain omegapi::ImagPosSign::p1p0D omegapi::RealNegSign::p1p0D 

#---- p1ppS ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1ppS Vec_ps_refl 1 1 0 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1ppS cartesian -452.9434494 -255.9519185
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1ppS Vec_ps_refl 1 1 0 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1ppS cartesian -452.9434494 -255.9519185

constrain omegapi::ImagPosSign::p1ppS omegapi::RealNegSign::p1ppS 

#---- p1ppD ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1ppD Vec_ps_refl 1 1 2 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1ppD cartesian -259.2973173 -216.4186967
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1ppD Vec_ps_refl 1 1 2 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1ppD cartesian -259.2973173 -216.4186967

constrain omegapi::ImagPosSign::p1ppD omegapi::RealNegSign::p1ppD 

#---- m1mmP ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1mmP Vec_ps_refl 1 -1 1 -1 -1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1mmP cartesian 2.898050437 -24.61824224
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1mmP Vec_ps_refl 1 -1 1 1 1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1mmP cartesian 2.898050437 -24.61824224

constrain omegapi::ImagNegSign::m1mmP omegapi::RealPosSign::m1mmP 

#---- m1m0P ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1m0P Vec_ps_refl 1 0 1 -1 -1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1m0P cartesian 2.455134493 -1.716043364
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1m0P Vec_ps_refl 1 0 1 1 1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1m0P cartesian 2.455134493 -1.716043364

constrain omegapi::ImagNegSign::m1m0P omegapi::RealPosSign::m1m0P 

#---- m1mpP ----

## Sum = ImagNegSign, Orientation = PARA_0 ##
amplitude omegapi::ImagNegSign::m1mpP Vec_ps_refl 1 1 1 -1 -1 0 0.3519 omega3pi 
initialize omegapi::ImagNegSign::m1mpP cartesian -8.717243213 -10.49946785
## Sum = RealPosSign, Orientation = PARA_0 ##
amplitude omegapi::RealPosSign::m1mpP Vec_ps_refl 1 1 1 1 1 0 0.3519 omega3pi 
initialize omegapi::RealPosSign::m1mpP cartesian -8.717243213 -10.49946785

constrain omegapi::ImagNegSign::m1mpP omegapi::RealPosSign::m1mpP 

#---- p1mmP ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1mmP Vec_ps_refl 1 -1 1 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1mmP cartesian 26.39577689 16.44639696
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1mmP Vec_ps_refl 1 -1 1 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1mmP cartesian 26.39577689 16.44639696

constrain omegapi::ImagPosSign::p1mmP omegapi::RealNegSign::p1mmP 

#---- p1m0P ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1m0P Vec_ps_refl 1 0 1 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1m0P cartesian -36.62732423 -44.14393265
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1m0P Vec_ps_refl 1 0 1 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1m0P cartesian -36.62732423 -44.14393265

constrain omegapi::ImagPosSign::p1m0P omegapi::RealNegSign::p1m0P 

#---- p1mpP ----

## Sum = ImagPosSign, Orientation = PARA_0 ##
amplitude omegapi::ImagPosSign::p1mpP Vec_ps_refl 1 1 1 -1 1 0 0.3519 omega3pi 
initialize omegapi::ImagPosSign::p1mpP cartesian 318.2991877 241.0345984
## Sum = RealNegSign, Orientation = PARA_0 ##
amplitude omegapi::RealNegSign::p1mpP Vec_ps_refl 1 1 1 1 -1 0 0.3519 omega3pi 
initialize omegapi::RealNegSign::p1mpP cartesian 318.2991877 241.0345984

constrain omegapi::ImagPosSign::p1mpP omegapi::RealNegSign::p1mpP 

######## isotropic background ########
amplitude omegapi::Bkgd::isotropic Uniform
initialize omegapi::Bkgd::isotropic cartesian 0 0